<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="44c102c9-7a6a-48f5-8dc2-5f36cedb6020" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.steampowered.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="44c102c9-7a6a-48f5-8dc2-5f36cedb6020fileName">http%3A%2F%2Fapi.steampowered.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://api.steampowered.com</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="b99c651a-70f2-4d56-90e3-275d0387157f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>